.bg-cover {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #fff;
	z-index: 0;
	transition: all 350ms ease;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.prompt {
	position: fixed;
	width: 100%;
	text-align: center;
	line-height: 114px;
	font-family: Georgia;
	color: #666;
}

.reveal {
	opacity: 0.95;
	display: block;
	pointer-events: auto;
	visibility: visible;
}

.hamburger-shell {
	margin: 0;
	position: fixed;
	overflow: hidden;
	width: 50px;
	height: 65px;
	overflow: auto;
	left: calc(100% - 60px);
	top: 10px;
	cursor: pointer;
}

.top{
	position: absolute;
	width: calc(25px + 3vw);
	height: 3px;
	background-color: black;
	transition: all 350ms ease-in-out;
	top: calc(5px + 2vw);
}



.middle {
	margin-top: 20px;
	position: absolute;
	width: calc(25px + 3vw);
	height: 3px;
	background-color: black;
	transition: all 350ms ease-in-out;
	top: 1vw;
}

#menu {
	position: fixed;
	left: calc(100% - 292px);
	top: 1vw;
	color: black;
	display: none;
	margin: 120px 30px;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: uppercase;
	color: #333;
	padding: 24px;
	width: 200px;
	text-align: right;
}

#menu a li {
	text-decoration: none!important;
	padding-bottom: 10px;
	margin-bottom: 12px;
	border-bottom: 1px solid black;
	list-style: none;
	color: #555;
	transition: all 150ms ease;
}

#menu a li:hover {
	color: #00abff;
	padding-right: 0px;
}

#menu a li:hover:after {
}



#menu a {
	text-decoration: none;
}

.rotate {
	transform: rotate(225deg);
	-webkit-transform: rotate(225deg);
	top: 20px;
	background-color: red;
	height: 2px;
}

.rotate-back {
	transform: rotate(-225deg);
	-webkit-transform: rotate(-225deg);
	top: 1px;
	background-color: red;
	height: 2px;
}

.top {
-webkit-animation-delay: 100ms;
}

.middle {
-webkit-animation-delay: 250ms;
}

.bottom {
	-webkit-animation-delay: 400ms;
}

.menu-name {
	/* font-family: Verdana; */
	font-weight: 900;
	color: black;
	font-size: calc(3px + 1.9vw);
	text-decoration: none;
	position: absolute;
	top: 35px;
	left: 0px;
	transition: all 350ms;
}

.bump {
	top: 50px;
	color: red;
}
